<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/d3.v3.min.js"></script>
  <script src="/js/radar-chart.js"></script>
  <script src="/js/application.js"></script>

  <!-- BOOTSTRAP + CSS EXTENSIONS -->
  <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/application.css">

  <!-- JS LOADS -->
  <script src="/js/bootstrap.min.js"></script>

  <title>MacroNutrients</title>
</head>
<body>
  <%= yield %>
</body>
</html>
